@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

.light {
  --color-background: 255, 255, 255;
  --color-foreground: 0, 0, 0;
  --color-primary: 0, 123, 255;
  --color-secondary: 108, 117, 125;
  --color-border: 221, 221, 221;
  background: rgba(var(--color-background));
}

.side-light {
  --color-background: 186, 46, 46;
  --color-button-background: 234 157 167;
  --color-icon-background: 226 176 187 34%;
  --color-foreground: 255, 255, 255;
  background: rgba(var(--color-background));
  color: rgba(var(--color-foreground))
}

.dark {
  --color-background: 15, 17, 26;
  --color-foreground: 255 255 255;
  --color-primary: 102 102 102;
  --color-secondary: 153 153 153;
  --color-border: 68 68 68;
  background: rgba(var(--color-background));
  color: rgba(var(--color-foreground));
}
.side-dark {
  --color-background: 15, 17, 26;
  --color-foreground: 255, 255, 255;
  background: rgba(var(--color-background));
  color: rgba(var(--color-foreground))
}


/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
